@import "variables";

@import "~bootstrap/scss/buttons";

.btn-primary {
    background-color: $primary;
    color: white;
  &:hover, &:focus {
    background-color: lighten($brand-pr, 6%);
    border-color: lighten($brand-pr, 6%);
  }
}

.btn-secondary {
  background-color: $secondary;
  color: white;
  &:hover, &:focus {
    background-color: lighten($brand-pr, 6%);
    border-color: lighten($brand-pr, 6%);
  }
}