//Add all variables & import partial to sass
$primary: #1977cc;
$secondary: #D32F2F;



$font-family-sans-serif:  'Roboto' !default;

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-checkmark: "\ea10";
$icon-arrow-up: "\ea32";
$icon-circle-up: "\ea41";

